gradle.properties.bak
gradle.properties.opz
local.properties
xycommon/build.gradle
app/*.log
*.apk
xytheme/src/main/res/.DS_Store
xytheme/src/main/res/drawable-hdpi/.DS_Store
app/gradlew.bat
app/gradlew
app/gradle/wrapper/gradle-wrapper.properties
xytheme/src/main/.DS_Store
tools/META-INF
tools/channel
.DS_Store
node_modules
#app/src/main/assets
app/jyxb_debug
app/jyxb_debug2
app/jyxb_release
app/jyxb_release2

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
*.iml
.idea
.gradle
local.properties

captures/

# node.js
#
node_modules/
npm-debug.log


# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore

freeline*

aarfiles/

#xycommon/src/main/assets/index.android.jsbundle
#xycommon/src/main/assets/index.android.jsbundle.meta
#xycommon/src/main/res/drawable-hdpi
#xycommon/src/main/res/drawable-mdpi
#xycommon/src/main/res/drawable-xhdpi
#xycommon/src/main/res/drawable-xxhdpi
#xycommon/src/main/res/drawable-xxxhdpi
